/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #575757;
}

